repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: trailing-whitespace
        exclude: setup.cfg
    -   id: end-of-file-fixer
        exclude: setup.cfg
    -   id: check-added-large-files
    -   id: requirements-txt-fixer
    -   id: check-executables-have-shebangs
    -   id: flake8
-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.21
    hooks:
    -   id: isort
-   repo: https://github.com/psf/black
    rev: 22.1.0
    hooks:
    - id: black
      args: ['--line-length', '80']
